
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rails_practice_development

test:
  <<: *default
  database: rails_practice_test

production:
  <<: *default
  database: rails_practice_production
  username: rails_practice
  password: <%= ENV["RAILS_PRACTICE_DATABASE_PASSWORD"] %>

staging:
  <<: *default
  database: rails_practice_staging
