<%# <% stylesheet_link_tag "navbar" %> 

<div class="navbar">
    <div class="navbar-brand">
        <%= link_to image_tag("tree.png", alt: "Logo", style: "width: 50px; color: green;"), home_index_path %>
    </div>
    <div class="navbar-links">
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        <% end %>
    </div>
</div>
